aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.5
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
dhooks==1.1.4
idna==2.8
lxml==4.6.3
multidict==5.1.0
requests==2.21.0
schedule==0.6.0
selenium==3.141.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
urllib3==1.24.3
webdriver-manager==3.4.2
yarl==1.6.3
discord.py==1.7.3
mysql-connector-python==8.0.17
distro